#hero1 {
  font-size: 10vh;
  padding: 2rem;
  letter-spacing: -3px;
}

#hero2 {
  background-color: aliceblue;
  border-radius: 20px;
  background-image: url("src/assets/hero-image.jpg");
  background-size: cover;
  padding: 4rem;
}

#transparentselector {
  background-color: transparent;
  border-radius: 20px;
  padding: 1pc;
  width: 75%;
}

.buttons {
  font-size: small;
  font-weight: bold;
}

.buttons:hover{
  background-color: azure;
  border-radius: 20px;
  padding: 2rem;
  font-size: x-large;
}

#heroform {
  border-radius: 20px;
  padding: 1pc;
}
