body {
  color: black;
}

ul {
  list-style-type: none;
}

.custom-font {
  font-family: "Lato", sans-serif;
}

.scrolled {
  background-color: #dee7e7;
  transition: 0.2s ease-in-out;
}

#navbar1{
  margin-bottom: 10vh;
}