.divservices {
  font-family: "Lato";
}

.servicescontain1 {
  background-color: #dee7e7;
  padding: 2rem;
  border-radius: 10px;
  padding-right: 0rem;
  padding-bottom: 8vh;
  width: 100%;
}

.servicesimg {
  height: 30vh;
  width: 30vw;
  margin-left: 20vw;
}

.divservices2{
    background-color: #4F646F;
    border-radius: 5px;
    padding: 1rem;
    position: absolute;
    display: flex;
    margin-top: -45px;
    margin-left: 4px;
    width: auto;
}

.butservices{
    background-color: transparent;
}